// ページ下部にフッタを固定する
// https://www.tipdip.jp/tips_posts/production/2213/

body {
  font-family: 'Roboto';
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
