#container
  head
    link(rel="stylesheet", href="style.css")
  h2.login-title ログイン
  .body-box
    form(action="")
      .input-item
        .input-item-inner
          input#login-name.text(
            value="" type="text" name="name" autofocus required placeholder="はてなID または メールアドレス" autocomplete="off"
          )
      .input-item
        .input-item-inner
          input.password(
            required value="" name="password" type="password" placeholder="パスワード" autocomplete="off"
          )
      #option.config-button
        .auto-login
          a.checkbox-tab(href="#")
            label(for="auto_login")
          .checkbox-item
            input.checkbox.on#auto_login(checked value="1" name="persistent" type="checkbox")
            label.checkbox-text(for="auto_login")
              span 次回から自動的にログイン
          input(
            value="たぶん前に見ていたページ" name="location" type="hidden"
          )
          input.submit-button(
            value="送信する" type="submit"
          )
    p#alternate-message
      span もしくは
    p#google-plus-login-button
      a(href="#")
        img(src="../asset/login-google.svg", width="220px" height="44px" alt="Google+でログイン")