@mixin btn--submit {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
  width: 100%;
  height: 34px;
}

#c-btn--submit {
  @include btn--submit();
  background-color: #1aaa55;
  border: 1px solid #12753a;
}

#c-btn--submit-register {
  @include btn--submit();
  background-color: #1f78d1;
  border: 1px solid #1b69b6;
}
