.c-txt {
  font-size: 16px;
  color: #888;
  margin: 0 0 10px;
}

.c-txt--li {
  list-style: none;
  font-size: 14px;
}

.c-txt--tag {
  margin: 0;
  font-size: 13px;
  color: #2e2e2e;
}

.c-txt--hint {
  margin: -10px 0 25px;
}
