section#l-nav__old-articles
  h1.c-h1 過去の記事

section#l-nav__cat
  include _cat.pug

section#l-nav__search
  h1.c-h1 サイト内検索
  form.p-form--search(action="/hoge", method="post")
    .c-input--box
      input.c-input--search(type="text", name="query")
      input.c-input--reset(type="reset", value="x")
    button.c-button--submit(type="submit")
      img(src="/asset/search.svg")

section#l-nav__rank
  h1.c-h1 人気記事ランキング
  p.c-p--small 直近24時間に読まれた記事のランキング
  ol.p-ol--ranking
    - const ranking = ['切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った']
    each el in ranking
      a.c-a--ranking(href="#") #[li #{el}]

section#l-nav__popular-videos
  include _pop-videos.pug