- const left = ['ピックアップ','ヘッドライン', 'レビュー', '取材', 'インタビュー', '試食', 'モバイル', 'ソフトウェア', 'ネットサービス', 'ウェブアプリ', 'ハードウェア', '乗り物', 'サイエンス', '生き物' ]

- const right = ['動画','映画','マンガ', 'アニメ', 'ゲーム', 'デザイン', 'アート', '食', 'メモ', 'セキュリティ', 'お知らせ', 'コラム', 'メンバー限定', '広告' ]

- const colors = ['cbl', 'cbla', 'cgr', 'cor', 'cpu', 'cre', 'cye']

h1.c-h1--nav-cat カテゴリ

nav.p-row
  ul.p-ul--nav-cat
    each val, i in left
      - const color = colors[i % colors.length]
      - const src = `asset/${color}.svg`
      //- hrefをちゃんとしたものにしたい場合は
      //- left, rightを{category: url}のようなobjectにすればよさそう
      a(href="#")
        li.c-li--nav-cat
          img.c-img--nav-cat(src=src)
          p.c-p #{val}

  ul.p-ul--nav-cat
    each val, i in right
      - const color = colors[i % colors.length]
      - const src = `asset/${color}.svg`
      a(href="#")
        li.c-li--nav-cat
          img.c-img--nav-cat(src=src)
          p.c-p #{val}