h1.c-h1 人気動画

p.c-p--small 2018-05-28から2018-06-03の再生回数ランキング

- const list = ['切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', '切れぬ事があるか、何でも切ってみせると受け合った', ]

ul.p-ul--pop-videos
  each el in list
    li.c-li--pop-videos
      a.c-a--pop-videos(href="#")
        img.c-img--pop-videos(src="/asset/thum.svg", alt="thum")
        h2.c-h2--pop-videos #{el}