#l-main {
  display: grid;
  grid-template: 'description login' 1fr / 1fr 1fr;
  margin: 0 auto;
  padding: 80px 15px 65px;
  width: 970px;
}

.l-main__description {
  grid-area: description;
  width: 560px;
  padding: 0 15px;
}

.l-main__login {
  grid-area: login;
  width: 400px;
  font-size: 13px;
  padding: 0 15px;
}
