#l-main {
  grid-area: main;
  border: 1px solid #ddd;
  padding: 12px 4px 0;

  &__meta {
    display: flex;
    justify-content: space-between;
  }
}

#l-main__posted {
  width: 98%;
  height: auto;
  background: transparent;
  border-top: 1px solid #c2c2c2;
  margin: 110px auto 10px;
  padding: 0;
}
