.c-h1 {
  background: #fef592;
  color: #2f4f2f;
  font-size: 1.17em;
  padding: 5px;
  margin: 0 0 10px;
}

.c-h1--nav-cat {
  @extend .c-h1;
  margin: 0;
}

.c-h1--title {
  color: #000;
  background: #ffdd00;
  margin: 0 0 5px 0;
  padding: 2px 1px 2px 5px;
  line-height: 1em;
  font-weight: bold;
  font-size: 1.5em;
  word-wrap: break-word;
}

.c-h1--relate-articles,
.c-h1--relate-contents {
  font-size: 1.05em;
  line-height: 1.6em;
  margin-bottom: 0;
  &::before {
    content: '・';
  }
}

.c-h1--main__prev-next {
  margin: 0.2rem 0;
  font-weight: bold;
  font-size: 0.875em;
}

.c-h1-main__posted {
  font-size: 0.875em;
  padding: 0;
  font-weight: 400;
}
