.c-h2--pop-videos {
  font-size: 14px;
  font-weight: 700px;
  margin: 0;
  padding: 4px;
  background: #ffdd00;
  position: relative;
  top: -5px;
}

.c-h2--relate-contents {
  background: #ffdd00;
  font-size: 12.8px;
  font-weight: bold;
  margin: 0;
  position: relative;
  top: -3px;
  padding: 0 2px 0;
  color: #333;
  &:visited {
    color: #777;
  }
}

.c-h2--main__prev-next {
  position: relative;
  top: -4px;
  background: #ffdd00;
  margin: 0;
  padding: 4px;
  font-weight: bold;
  font-size: 0.875em;
}
