.c-li {
  &--recent {
    font-size: 0.875em;
    line-height: 1.2em;
    &:link {
      color: #1020d0;
    }
    &:visited {
      color: #777;
    }
    li {
      margin: -5px 1px 15px 23px;
    }
  }
  &--footer {
    width: 190px;
    height: 46px;
    background: white;
    padding: 3px 0 0 8.8px;
    margin-left: 8.8px;
    font-size: 16.8px;
    font-weight: 700;
    line-height: 44px;
  }
  &--nav-cat {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 8.8px;
    font-size: 14px;
    font-weight: 700;
  }
  &--pop-videos {
    margin: 8px 0;
    list-style: none;
  }
  &--main__relate-articles {
    list-style: none;
    margin-bottom: 30px;
  }

  &--main__relate-contents {
    list-style: none;
  }
}
