nav
  ul.p-row--footer
    a.c-li--footer(href="#")
      li 誤字・脱字の指摘
    a.c-li--footer(href="#")
      li ネタのタレコミ
    a.c-li--footer(href="#")
      li その他のお問い合わせ
    a.c-li--footer(href="#")
      li 広告掲載について
    a.c-li--footer(href="#")
      li GIGAZINEについて
    a.c-li--footer(href="#")
      li 採用情報