section#l-main__meta
  time.c-time(datetime="2018-06-05T08:30:00+09:00") 2018年06月05日 08時30分
  a.c-a--main__meta(href="#") サイエンス

section#l-main__article
  article
    h1.c-h1--title 小学校に居る時分学校の二階から飛び降りて一週間ほど腰こしを抜ぬかした事がある

    p 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。

section#l-main__relate-articles
  h1.c-h1--relate-articles 関連記事
  ul.p-ul--main__relate-articles
    - let i = 0
    while i < 6
      a(href="#")
        li.c-li--main__relate-articles 小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜ぬかした事がある - MEGAZINE
      - i++

section#l-main__relate-contents
  h1.c-h1--relate-contents 関連コンテンツ
  ul.p-ul--main__relate-contents
    - let j = 0
    while j < 8
      a(href="#")
        li.c-li--main__relate-contents
          img(src="/asset/relate.svg", alt="thum")
          h2.c-h2--relate-contents 切れぬ事があるか、何でも切ってみせると受け合った。
        - j++


section#l-main__prev-next
  nav.p-row--prev-next
    a(href="#")
      div.p-block--prev-next
        h1.c-h1--main__prev-next <<次の記事
        img(src="/asset/thum-large.svg", alt="thum")
        h2.c-h2--main__prev-next 切れぬ事があるか、何でも切ってみせると受け合った
    a(href="#")
      div.p-block--prev-next
        h1.c-h1--main__prev-next 前の記事>>
        img(src="/asset/thum-large.svg", alt="thum")
        h2.c-h2--main__prev-next 切れぬ事があるか、何でも切ってみせると受け合った
    

section#l-main__posted
  h1.c-h1-main__posted 2018年06月05日 08時30分00秒 in サイエンス, Posted by n2m_ssk
