.p-row {
  display: flex;
}

.p-row--footer {
  @extend .p-row;
  list-style: none;
  margin: 8.8px auto 0;
  max-width: 1200px;
}

.p-row--prev-next {
  @extend .p-row;
  justify-content: space-around;
}
