h1.c-title GitLab.com

p.c-txt GitLab.com offers free unlimited (private) repositories and unlimited collaborators

ul.p-reference--service
  li
    a.c-link(href="#") Explore projects on GitLab.com
    | (no login needed)
  li
    a.c-link(href="#") More Information about GitLab.com
  li
    a.c-link(href="#") GitLab.com Support Forum
  li
    a.c-link(href="#") GitLab Homepage

p.c-txt By signing up for and by signing in to this service you accept our:

ul.p-reference--contract
  li
    a.c-link(href="#") Privacy policy
  li
    a.c-link(href="#") GitLab.com Terms.
