.p-tab
  //- .p-tab__(left|right)としてしまうと
  //- タブが増えたときに対応しづらい
  a(href="#login-pane").p-tab__sign-in.u-current Sign in
  a(href="#register-pane").p-tab__register.u-inactive Register

//- ページ内で共通のmargin, paddingは汎用的なコンポーネントに定義したい
//- でも#f-login-box.p-surroundとするのは冗長な気がする
//- すると.p-surround--login-boxとしてしまったほうがいい？
//- Projectの使い回しってする？Componentだけじゃない？
//- Pを使いまわさないならPに詳細なレイアウトの情報を書き込むのがよさそう
.p-surround#js-sign-in
  .p-input
    label.c-label(for="uname-email") Username or email
    input.c-input--txt(type="text", name="uname-email")
  .p-input
    label.c-label(for="password") Password
    input.c-input--txt(type="text", name="username_email")
  .p-row--spbt
    .p-row
      input.c-input--check(type="checkbox", name="remember-me")
      label.c-txt--tag(for="remember-me") Remember me
    a.c-link--small(href="#") Forgot your password?
  input#c-btn--submit(type="submit", value="Sign in")

.p-surround.u-hidden#js-register
  .p-input
    label.c-label(for="uname-email") Full name
    input.c-input--txt(type="text", name="register-full-name")
  .p-input
    label.c-label(for="uname-email") Username
    input.c-input--txt(type="text", name="register-username")
  .p-input
    label.c-label(for="uname-email") Email
    input.c-input--txt(type="text", name="register-email")
  .p-input
    label.c-label(for="uname-email") Email confirmation
    input.c-input--txt(type="text", name="register-email-confirmation")
  .p-input
    label.c-label(for="uname-email") Password
    input.c-input--txt(type="text", name="register-password")
  .c-txt--hint Minimum length is 8 characters
  .p-row.u-mgb15
    input.c-input--check#receive-updates(type="checkbox", name="receive-updates")
    label.c-txt--tag(for="receive-updates") I'd like to receive updates via email about GitLab.

  .c-recaptcha.u-mgb20
  input#c-btn--submit-register(type="submit", value="Register")


p.c-txt--small Didn't receive a comfirmation email? #[a.c-link--small(href="#") Request a new one.]

.p-surround
  .p-row.u-mgb10
    p.c-txt--tag Sign in with
    //- なぜかChromeだと4つめが表示されない
    //- Firefoxなら表示できるのでバグかもしれない
    .p-row--logos
      img.c-img--logo(src="/assets/img/blue.svg" alt="google")
      img.c-img--logo(src="/assets/img/orange.svg" alt="github")
      img.c-img--logo(src="/assets/img/green.svg" alt="twitter")
      img.c-img--logo(src="/assets/img/red.svg" alt="bitbucket")
  .p-row.u-mgb10
    input.c-input--check(type="checkbox", name="remember-me--3rd-party")
    label.c-txt--tag(for="remember-me--third-party") Remember me
